/* Custom CSS styles */
body {
    background-color: #f0f0f0;
  }
  
  .navbar {
    background-color: #007bff;
  }
  
  .navbar-brand {
    color: white;
    font-weight: bold;
  }
  
  .nav-link {
    color: white;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .fs-1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control-file {
    margin-top: 10px;
  }
  
  .btn-success {
    margin-top: 10px;
  }
  